<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
    <title>WhetherWeb</title>
</head>
<body class="d-flex flex-column min-vh-100 p-lg-3 p-sm-5">
    <header class="navbar navbar-expand-lg">
        <div class="container p-2">
            <a class="navbar-brand text-white fs-1" routerLink="/"><img src="assets/img/logo-modified.png" style="max-height: 100px;" class="img-fluid" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse fs-4" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-2">
                        <a class="nav-link text-blue-ocean" routerLink="/current">{{ 'current' | uppercase: isUppercase('/current') }}</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link text-blue-ocean" routerLink="/forecast">{{ 'forecast' | uppercase: isUppercase('/forecast') }}</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link text-blue-ocean" routerLink="/history">{{ 'history' | uppercase: isUppercase('/history') }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <main class="flex-fill main-content text-center d-flex flex-column justify-content-center align-items-center">
        <router-outlet></router-outlet>
    </main>
    <footer class="footer text-white text-center py-3 fs-5">
        <div class="container text-blue-ocean text-center">
            <p class="mb-0">© 2025 Wether <img src="assets/img/logo-modified.png" style="max-height: 20px;" class="img-fluid" alt="logo"> | Data by <a href="https://www.visualcrossing.com/weather-api"
                    target="_blank" class="text-blue-ocean text-decoration-none fw-bold">Visual Crossing</a></p>
        </div>
    </footer>
</body>
</html>