    <!-- Main -->
        <h2 class="display-3 mb-4">Check the weather in real time</h2>
        <p class="lead mb-5 fs-4">Temperatures, forecasts, and historical data for anywhere in the world are just a click
            away.</p>

        <div class="m-5 d-flex flex-column flex-lg-row justify-content-center align-items-center">
            <a routerLink="/current" class="btn btn-outline-blue-ocean mx-2 my-lg-0 my-2">🌤️ Current Weather</a>
            <a routerLink="/forecast" class="btn btn-outline-blue-ocean mx-2 my-lg-0 my-2">📅 Forecast</a>
            <a routerLink="/history" class="btn btn-outline-blue-ocean mx-2 my-lg-0 my-2">🕰️ History</a>
        </div>